[:div.w3-content.w3-light-yellow
 [:nav#mySidenav.w3-sidenav.w3-light-yellow.w3-collapse {:style "z-index:3;width:250px;margin-top:51px;background-color:#fffbc7;"}
  [:a {:title "Close menu"
       :class "w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large"
       :onclick "w3_close()"
       :href "javascript:void(0)"}
   "Close menu"]
  [:div :blogiseq-menu-placeholder]]
 [:div {:id "myOverlay",
        :title "close side menu",
        :style "cursor:pointer",
        :onclick "w3_close()",
        :class "w3-overlay w3-hide-large"}]
 [:div.w3-main {:style "margin-left:300px"} [:div
                                             [:header {:class "w3-container"}
                                              [:span {:onclick "w3_open()"
                                                      :class "w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey"}
                                               "MENU"]]
                                             :blogiseq-content-placeholder]]
 ]
